body {
  margin: 0, 35px;
  padding: 0;
  background: #f7ffff;
}

.cardbg {
  border: 1px solid #9c27b0;
  height: 99vh;
  position: relative;
  width: 100%;
}

.card {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #edffec;
  width: 350px;
  height: 700px;
}
